<div ng-include="'views/menu.html'"></div>

<div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- ClearAndDraw Leaderboard -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-8376642740439271"
       data-ad-slot="5219792599"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <h1>About</h1>

    <p>
      Avengers vs. X-Men data provided by C-Drive at the <a href="http://www.reservepool.net/forum/">Reserve Pool Forum & Community</a>.
      Uncanny X-Men data provided by <a href="http://boardgamegeek.com/user/abodi">Samuel Hinz</a>.
      Many many thanks to both of them for their hard work.
    </p>

    <p>
      Captain America icon designed by <a href="http://thenounproject.com/Mikhail1986/">Michael Rowe</a> from the
      Noun Project
    </p>

    <p>Contact me with your questions, concerns, or data corrections:
      <a href="mailto:john.munsch+cad@gmail.com">john.munsch@gmail.com</a></p>

    <h2>Other Projects</h2>
    <ul>
      <li><a href="http://www.PaperQuik.com">PaperQuik</a> - A nifty little online graph and note taking paper generator.</li>
      <li><a href="http://www.JohnMunsch.com">JohnMunsch.com</a> - My blog. Periodic posts, mostly programming related.</li>
    </ul>
  </div>
</div>

<div ng-include="'views/footer.html'"></div>
